<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h1 class="learn-more">About us</H1>
		</div>
		  <div class="col-md-8 col-md-offset-2">
					<p>If you are struggling with the TOEFL exam, you'll find the best TOEFL teachers here to design the best classes that work for you! If know TOEFL well, why don't you sign up now to help those people who would like to get into their dream schools?</p>
					<hr class="welcome-txt">
		  </div>


		<div class="col-md-2">
					<h1 class="learn-more">Why are we the best dating site?</H1>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<p>If you are struggling with the GRE exam, you'll find the best GRE teachers here to design the best classes that work for you! If know GRE well, why don't you sign up now to help those people who would like to get into their dream schools?</p>
						<hr class="welcome-txt">
					</div>

					<div class="col-md-2">
						<h1 class="learn-more">Come join us!</H1>
					</div>
					<div class="col-md-8 col-md-offset-2">
							<p>If you are struggling with the GMAT exam, you'll find the best GMAT teachers here to design the best classes that work for you! If know GMAT well, why don't you sign up now to help those people who would like to get into their dream schools?</p>
					</div>
				</div>
			</div>
		</div>


